@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo */

h1, h2 {
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #008000;
}

#logo {
    float: left;
    font-size: 120%;
    margin-left: 30px;
}

/* navigation links */

#menu {
    font-size: 90%;
    letter-spacing: 10px;
    color: #008000;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 3px solid #008000;
}

.active {
    border-bottom: 1px solid #008000;
}

/* main page section */

#hero-outer {
    height: 100%;
    width: 100%;
    overflow: auto;
    max-width: 100%;
    padding-top: 5%;

    position: relative;
}

#cover-text, #cover-text h2, #cover-text h3 {
    color: #008000;
    text-align: center;
}

.container-1 {
    align-items: center;
    justify-content: center;
  }

.mainpic {
    text-align: center;
}

.text {
    font-size: 20px;
    padding-left: 20px;
    color: #008000;
    text-align: center;
  }

h4 {
    text-decoration: underline;
    text-align: center;
}


/* Menu styling */

.container {
    margin-top: 30%;
    width: 100%;
    background: #efefef;
    display: flex;
    color: #008000;
}
  
.box-1 {
    flex: 1;
    height: 700px;
    background-color: #efefef;
    border-right: 3px solid #008000;
    border-left: 3px solid #008000;
    text-align: center;
    overflow: auto;
}

.box-2 {
    flex: 1;
    height: 700px;
    background-color: #efefef;
    border-right: 3px solid #008000;
    text-align: center;
    overflow: auto;
}

.box-3 {
    flex: 1;
    height: 700px;
    background-color: #efefef;
    border-right: 3px solid #008000;
    text-align: center;
    overflow: auto;
}


/* footer styling */

.footer {
    margin-top: 140px;
    width: 100%;
    padding: inherit;
    background: #efefef;
    display: flex;
    color: #008000;
}

.footer div {
    text-align: center;
}

.col-2 {
    flex-grow: 1;
}

.footer div h3 {
    font-weight: 300;
    margin-bottom: 50px;
    letter-spacing: 2px;
    color: #008000;
}

.footer-icons i {
    font-size: 160%;
    margin: 1%;
    padding: 2%;
    color: #1f1e1e;
}

ul {
    list-style: none;
}

/* Photo gallery styling */

.photos {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0;
}


.photos > img {
    width: 100%;
}


/* sign-up-styling */

.form-section {
    clear: left;
    background: url("https://www.foodandwine.com/thmb/CzIQNpO_hzszQk-t1US0u7m3o6Q=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/200907-r-bucatini-f5f9a98a19fe4e228d4c69aa902657f4.jpg");
    background-size: cover;
    background-position: center;
    height: 900px;
    color: #fff;
}

.signup-form {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.signup-form > h2, h3 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #008000;
}

.submit-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 20px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #008000;
    color: #fafafa;
    display: ruby-base;
}

/* Media queries */

/* For large to medium screens sizes from 1200px wide and down */
@media screen and (max-width: 1200px){
    #hero-outer {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    #welcome {
        padding: 30px 0;
        margin-top: 0;
    }

    #cover-text, #logo {
        width:100%;
        float:left;
        padding: 0;
    }


    #menu div {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
    }
}

/* For medium screens sizes from 950px wide and down */
@media screen and (max-width: 950px){

    #menu {
        clear: left;
        float: left;
        margin-left: 30px; 
        margin-bottom: 20px;
        line-height: 25px;
    }

    #cover-text{
        left:0;
    }

    #hero-outer{
        width:90%;
        height: 1200px;
        margin: 0 auto;
    }

    .text {
        width: 100%;
        text-align: center;
    }

    #photo{
        column-count: 3;
    }
}

/* For small screens sizes from 800px wide and down */
@media screen and (max-width: 800px){
    #photo{
        column-count: 2;
    }

}
